.h1 {
  text-transform: uppercase;
}

.h1:hover {
  background: linear-gradient(
    to right,
    hsl(243, 43%, 17%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 0%, 0%) 20%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
